.nav li {
    /* use to remove disc in list */
    list-style-type: none;
    /* use to display horizontally */
    display: inline-block;
  }
  .nav li a {
    /* use to remove underline in link */
    text-decoration: none;
  }